*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  background-color: whitesmoke;
}

main{
  /* padding: 0 160px; */
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

a{
  text-decoration: none;
  color: #0e0e0e;
}

.primary-heading{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.navbar .logo h2{
  font-size: 32px;
  line-height: 38px;
}

.navbar .nav-btn{
  padding: 15px 30px;
  color: rgb(0, 106, 80);
  border-radius: 8px;
  border: 1px solid rgb(0, 106, 80);
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.hero-section {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  margin-top: 36px;
}

.hero-content .hero-title{
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero-content .hero-heading{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  margin-bottom: 40px;
}

.hero-content .hero-btn{
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 17px 34px;
}

.pillars-card-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
}

.pillars-cards {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: white;
  border-radius: 16px;
  padding: 24px;
}

.pillars-card-heading{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 24px 0 12px 0;
}

.pillars-card-paragraph{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}