*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  background-color: whitesmoke;
}

main{
  /* padding: 0 160px; */
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

a{
  text-decoration: none;
  color: #0e0e0e;
}

select, option, .pricing-box {
  cursor: pointer;
}

.btn{
  border-radius: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.primary-heading{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.card-heading{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 24px 0 12px 0;
}

.my-sm{
  margin: 12px 0;
}

.my-m{
  margin: 32px 0;
}

.mb-lg{
  margin-bottom: 40px;
}

.mb-m{
  margin-bottom: 32px;
}

.mb-sm{
  margin-bottom: 24px;
}

.paragraph {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.navbar .logo h2{
  font-size: 32px;
  line-height: 38px;
}

.navbar .nav-btn{
  padding: 15px 30px;
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
}

.hero-section {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  margin-top: 36px;
}

.hero-title{
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin-bottom: 16px;
}

.hero-heading{
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  text-align: left;
  margin-bottom: 40px;
}

.hero-btn{
  background: rgb(0, 106, 80);
  color: white;
  padding: 17px 34px;
}

.pillars-card-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.pillars-cards {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: white;
  border-radius: 16px;
  padding: 24px;
}

.vision-card-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.vision-card{
  background: white;
  padding: 32px;
  border-radius: 16px;
  flex-basis: 100%;
}

.card-btn{
  color: white;
  padding: 11px 20px;
  background: rgb(84, 144, 245);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.card-1{
  background: rgba(84, 144, 245, 0.2);
}

.card-1 .paragraph{
  margin-bottom: 40px;
}

.card-2{
  background: rgb(198, 228, 214);
}

.card-2 .paragraph{
  margin-bottom: 64px;
}

.card-2 .card-btn{
  background-color: rgb(9, 161, 92);
}

.card-3{
  background: rgb(247, 235, 207);
}

.card-3 .paragraph{
  font-size: 15px;
  margin-bottom: 64px;
}

.card-3 .card-btn{
  background-color: rgb(255, 194, 57);
}

.vision-testimonial{
  margin-top: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: white;
  padding: 48px 24px;
  position: relative;
}

.quote-bg{
  position: absolute;
  top: 24px;
}

.faq-container{
  border-radius: 16px;
  padding: 32px;
  background-color: #fff;
}

table, th, td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
}

.faq-head th{
  padding: 24px;
  text-align: left;
  border: none;
  background: rgb(198, 228, 214);
}

.faq-head th:last-child{
  padding-left: 0;
}

.faq-head th h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.faq-topics td{
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 24px;
}

.faq-select{
  text-align: center;
}

select, option{
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  border: 1px solid rgba(14, 14, 14, 0.2);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  padding: 10px 14px;
}

.news-blog-container{
  padding: 48px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  gap: 32px;
}

.blog-image-box img{
  border-radius: 24px;
}

.blog-heading{
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 12px;
}

.blog-btn{
  padding: 13px 26px;
  background: rgb(0, 106, 80);
  color: #fff;
  font-weight: 500;
}

.news-blog-container:not(:first-child){
  margin-top: 24px;
}

.pricing-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.pricing-box-container{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.pricing-box{
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.pricing-box:nth-child(2){
  background: rgb(198, 228, 214);
}

.pricing-heading{
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.pricing-btn{
  display: block;
  background: white;
  text-align: center;
  width: 80%;
  padding: 20px 40px;
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-newsletter{
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

input:first-child{
  padding: 18px 40px;
  display: inline-block;
  width: 600px;
  border: none;
  border-radius: 8px 0px 0px 8px;
}

input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

input:last-child{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 34px 15px 34px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  transform: translateX(-4px);
}

.footer-logo{
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
}

footer{
  background: #fff;
}

.footer-container {
  padding: 50px 160px;
  width: 1280px;
  margin: 0 auto;

}

footer hr {
  margin: 32px 0;
}
.social-icon{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}